@using System.Web.Optimization
@using MeetingProgram.Helpers
@model MeetingProgram.Models.MeetingModel.Agenda

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Agenda</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>
    </div>
}

@section ViewSpecificJavascript {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/js/site.js")

}